.app-center {
  width: 70%;
  height: 75vh;
  border: 2px solid black;
}

.title {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

#canvas-container {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  height: 80%;
}
.dot {
  stroke: black;
  stroke-width: 2px;
}

#tooltip {
  position: absolute;
  background-color: #00ffb7;
  padding: 1rem;
  border: 1px solid black;
}

#legend {
  position: absolute;
  left: 70%;
  top: 70%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#legend .item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
#legend .item span {
  display: block;
  content: "";
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
}
